<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INumbersGameService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/NumbersGameWebServiceLibrary/NumbersGameService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INumbersGameService"
                contract="NumbersGameServiceReference.INumbersGameService"
                name="BasicHttpBinding_INumbersGameService" />
        </client>
    </system.serviceModel>
</configuration>